<div class="header">
  <button pButton pRipple type="button" style="width: 80px;" label="back" routerLink="/{{pageNameEnum.LandingPage}}"
    class="p-button-danger"></button>
  <p-progressBar mode="indeterminate" *ngIf="pendingState|async" [style]="{'height': '6px'}"
    class="progress-bar"></p-progressBar>
</div>
<form [formGroup]="productFormGroup" class="form" (submit)="addProduct()">
  <div class="form-container">
    <h2>Products</h2>
    <span class="p-float-label">
      <input id="Variety" class="inputText" [formControlName]="productFormEnum.Variety" type="text" pInputText />
      <label for="Variety">Variety </label>
    </span>
    <span class="p-float-label">
      <input class="inputText" [formControlName]="productFormEnum.Packaging" id="float-input" type="text" pInputText />
      <label for="Packaging">Packaging </label>
    </span>
    <span class="p-float-label">
      <input class="inputText" [formControlName]="productFormEnum.Category" id="float-input" type="text" pInputText />
      <label for="Category">Category </label>
    </span>
    <p-button type="submit" label="Add"></p-button>
  </div>
</form>
<p-table class="table" styleClass="p-datatable-striped" [value]="productsData" dataKey="id" editMode="row"
  [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">{{productFormEnum.Id}}<p-sortIcon field="id"></p-sortIcon></th>
      <th>{{productFormEnum.Category}}</th>
      <th>{{productFormEnum.Packaging}}</th>
      <th>{{productFormEnum.Variety}}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
    <tr [formGroup]="productEditFormGroup" [pEditableRow]="product">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <label>{{product[ productFormEnum.Id ]}}</label>
          </ng-template>
          <ng-template pTemplate="output">
            {{product[ productFormEnum.Id ]}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [formControlName]="productFormEnum.Category" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{product[ productFormEnum.Category]}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [formControlName]="productFormEnum.Packaging" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{product[ productFormEnum.Packaging]}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [formControlName]="productFormEnum.Variety" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{product[ productFormEnum.Variety]}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button *ngIf="!editing && !globalEditing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
            (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="!editing && !globalEditing" pButton pRipple icon="pi pi-trash" (click)="onRowDelete(product)"
            class="p-button-rounded p-button-text"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
            (click)="onRowEditSave()" class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
            (click)="onRowEditCancel( )" class="p-button-rounded p-button-text p-button-danger"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>