<div class="Landing-header">
  <h2>Welcome to the Jamal Management System</h2>
  <div id="intro">
    <label>
      As a skilled Angular developer, I've created this platform to
      demonstrate my abilities in creating beautiful and functional web
      applications. The website includes a makeshift management system, to mainly show my skills in managing states
      using ngrx.
    </label>
  </div>
  <h2>Portfolio</h2>
  <div id="content">
    <label>
      On this site, you'll be able to explore my portfolio of Angular-based
      projects, view my technical skills and experience, and learn more
      about my professional background. I'm constantly exploring new ways to
      enhance my development skills, so stay tuned for updates and new
      projects.
    </label>
  </div>
</div>
<div class="container">
  <button pButton pRipple routerLink="/{{pageNameEnum.Products}}" type="button" label="Product Management"></button>
  <button pButton pRipple routerLink="/{{pageNameEnum.Orders}}" type="button" label="Order Management"
    class="p-button-secondary"></button>
  <button pButton pRipple routerLink="/{{pageNameEnum.Organizations}}" type="button" label="Organization Management"
    class="p-button-success"></button>
</div>
<odd-footer></odd-footer>