@import '../../../styles.scss';

:host {
  @extend .flex-column;
  row-gap: 5vh;
}

.body {
  @extend .flex-row;
  column-gap: 5vh;

  .table-Container {
    @extend .flex-column;
    justify-content: center;
    align-items: center;
  }
}